.university-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .university-banner {
    width: 91%; 
    max-height: 500px; 
    border-radius: 20px;
    margin-bottom: 20px;
    height: auto;
    
  }
  
  .search-input {
    width: 80%; 
  }
  
  .university-description {
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
    color: rgba(39, 81, 133, 0.995);
    text-shadow: 2px 2px 2px #fff;
    letter-spacing: 2px;
    line-height: 150%;
    font-family: 'Arial', sans-serif;
  }

  .university-search-container {
    position: relative;
  }
  
  .search-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
  }
  
 
  
  