<app-nav-bar></app-nav-bar>
<app-list-of-feedbacks></app-list-of-feedbacks>




<div class="course-container">
    <div class="banner-container">
        <img src="https://business.unl.edu/current-students/clifton-strengths-institute/strengths-program/images/strengths_banner.jpg"
            alt="Course Banner" class="course-banner">
    </div>

    <div class="course-details">
        <div class="course-header">
            <h2>{{ course.name }}</h2>
            
            <button mat-raised-button color="primary" *ngIf="!isRegistered(course)" (click)="enroll()">Enroll</button>
            <button mat-raised-button color="primary" *ngIf="isRegistered(course)" (click)="unenroll()">Unenroll</button>


        </div>


        <div class="course-details">

            <p><strong>Description:</strong> {{ course.description }}</p>
            <mat-divider></mat-divider>

            <p><strong>Lecturer:</strong> {{ course.lecturer }}</p>
            <mat-divider></mat-divider>

            <p><strong>Hall:</strong> {{ course.hallLocation }}</p>
            <mat-divider></mat-divider>

            <p><strong>Starts On:</strong> {{ course.startDate | date:'yyyy-MM-dd HH:mm' }}</p>
            <mat-divider></mat-divider>

            <p><strong>Ends On:</strong> {{ course.endDate | date:'yyyy-MM-dd' }}</p>
            <mat-divider></mat-divider>

            <p><strong>Number of Students:</strong> {{ course.registeredStudents }}</p>

        </div>


    </div>
</div>