
.feedback-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-info {
    font-weight: bold;
  }
  
  .stars {
    float: right;
  }
  
  .description {
    margin-top: 10px;
  }
  
  .string-date {
    margin-top: 5px;
    color: #888;
  }
  

  .comments-container {
    width: 100%;
    max-width: 500px;
    float: right;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
   
  }