<div *ngFor="let feedbackItem of feedbackList" class="feedback-item">
    <div class="user-info">{{ feedbackItem.userName }}</div>
    <div>
      <ngb-rating [max]="5" [rate]="feedbackItem.rating" [readonly]="true"></ngb-rating>
      <span class="stars">{{ feedbackItem.rating }} Stars</span>
    </div>
    <div class="description">{{ feedbackItem.description }}</div>
    <div class="string-date">{{ feedbackItem.stringDate }}</div>
  </div>
  

  <ng-container *ngIf="!userHasCommentedBefore">
    <app-feedback></app-feedback>
  </ng-container>
  